* {
    font-family: "Montserrat",sans-serif;
    font-size: 15px;
    color: #242424;
}

body {
    margin: 0;
}

/* Nav bar  */
header {
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

#top-nav > img {
    height: 100px;
}

.searchbar {
    height: 35px;
    width: 400px;
    border: none;
    background-color: #f0f1f2;
    border-radius: 9px;
    padding-left: 10px;
    
}

#bottom-nav {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin-bottom: 15px;
}

#bottom-nav > a {
    text-decoration: none;
}

/* Career section */
#Career {
    background-color: #fdeadc;
    display:flex;
    justify-content: center;
    padding: 200px;
    height: 100vh;
}

#career-text {
    width: 500px;
    text-align: left;

}

#career-text > h1 {
    font-size: 50px;
}

#career-text > button {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 9px;
    border: none;
    background-color: #f69044;
    margin: 7px
}

#career-img > img {
    width: 500px
}
